.buttonContainer{
    width: 100%;
}
button{
    width: 100%;
    font-family: Helvetica;
    border: 1px solid #FFF;
    border-radius: 5px;
    /* background-color: #10c43d; */
    background: linear-gradient(180deg, rgba(17,179,53,0.9940709560191264) 0%, rgba(19,215,2,1) 100%);
    color: #FFF;
}