.cardBook {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #dedede;
    border: 1px solid #ccc;
    font-family: Helvetica;
}

.titulo {
    font-size: 20px;
}

.autor{
    font-size: 15px;
}

img{
    width: 50vw;
    height: 80vh;
    border-radius: 10;
}